<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Carme|Syncopate" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>MyChicago</title>
</head>
<body>
	<div class="header">
		<h1 id="title">My Chicago</h1>
		<nav class="navigation">
			<a href="/mychicago/login">Login</a>
			<a href="/mychicago/login">Register</a>
		</nav>
	</div>