<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<h1>All experiences</h1>
	<ul>
		<%for(let i =0; i < experiences.length; i++) {%>
			<li><%=experiences[i].title%>
				<%=experiences[i]._id%>
			</li>
		<%}%>

</body>
</html>