<%- include ../partials/header.ejs %>

	<h1>All experiences</h1>
	<ul>
		<%for(let i =0; i < experiences.length; i++) {%>
			<li><%=experiences[i].title%><br>
				<a href="/experiences/<%=experiences[i]._id%>/photo"><%=experiences[i]._id%></a>
			</li>
		<%}%>

</body>
</html>