<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<h1>All experiences</h1>
	<ul>
		<%for(let i =0; i < experience.length; i++) {%>
			<li><%=experience[i].title%>
				<%=experience[i].img%>
			</li>
		<%}%>

</body>
</html>