<!DOCTYPE html>
<html>
<head>
	<title>Experiences New</title>
</head>
<body>
	<h1>Add a new experience</h1>
		<form action="/experiences" method="post" enctype="multipart/form-data">
			Title: <input type="text" name="title" placeholder="Enter title"><br>
			Image <input type="file" name="img"><br>
			<textarea name="experience" placeholder="Tell us about your experience"></textarea><br>
			<button>Add to my experiences</button>

		</form>

</body>
</html>