<%- include ../partials/header.ejs %>
<div class="navigation">
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">Experiences</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

	<h1>Add a new experience</h1>
		<form id ="new-eperience" action="/experiences" method="post" enctype="multipart/form-data">
			Title: <input type="text" name="title" maxlength="22" placeholder="Enter title"><br>
			Image <input type="file" name="img"><br>
			<textarea name="body" placeholder="Tell us about your experience" form="new-eperience"></textarea><br>
			<button>Add to my experiences</button>

		</form>

</body>
</html>