<%- include ./partials/header.ejs %>

	<h1>Login with partial header</h1>
	<form action="/mychicago/login" method="POST">
		<input type="text" name="username" placeholder="username">
		<button>Login</button>
	</form>

</body>
</html>