<%- include ./partials/header.ejs %>

	<div class='main'>
		<h1>Welcome!</h1>
			<p> My Chicago is lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
			<p>Check out some <a href="#">experiences</a>!</p>
	</div>
	<div class="footer"></div>

</body>
</html>