<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Carme|Syncopate" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>MyChicago</title>
</head>
<body>
	<div class="header">
		<h1 id="title">My Chicago</h1>
		<nav class="navigation">
			<a href="/auth/login">Login</a>
			<a href="/auth/login">Register</a>
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

	<div class='main'>
		<h1>Welcome!</h1>
			<p> My Chicago is lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
			<p>Check out some <a href="#">experiences</a>!</p>
	</div>
	<div class="footer"></div>

</body>
</html>