<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Carme|Syncopate" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>MyChicago</title>
</head>
<body>
	<div class="header">
		<h1 id="title">My Chicago</h1>
	</div>
	<div class="navigation welcome">
		<nav>
			<a href="/auth/login">Login</a>
			<a href="/auth/login">Register</a>
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

	<div class='home'>
		<h1>Welcome!</h1>
			<p> How do you live, play, and work in Chicago? We want to know. 3 million people call this city home, and with the MyChicago app you can share with others your take on this great city.  
			</p>
			<p>What are you waiting for?<a href="/auth/login">Start sharing!</a></p>
	</div>
	<div class="footer"></div>

</body>
</html>