body	{
	font-family: 'Carme', sans-serif; 
}

h1 {
	font-family: 'Syncopate', sans-serif;
}

.header {
	background: url(https://i.imgur.com/540KTCD.jpg);
	background-size: cover;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

#title {
	font-size: 80pt;
	font-weight: 900;
	color: white;
	margin:0;

}

.navigation {
	background: lightblue;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 24pt;
}

a{
	text-decoration: none;
	padding: 5px;
	font-size: 16pt;
}
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {text-decoration: underline;}   /* mouse over link */

li {
	list-style: none;
	font-size: 16pt;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin: 50px;
}
