body	{
	font-family: 'Carme', sans-serif; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	margin: 0 auto;
}

h1  {
	font-family: 'Syncopate', sans-serif;
	text-indent: 10px;
	margin-top: 20px;
}

h2 {
	font-family: 'Syncopate', sans-serif;
	margin: 5px;
}

.header {
	background-image:url(https://i.imgur.com/540KTCD.jpg?1);
	background-size: cover;
	background-position: bottom;
	height: 35vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

#title {
	font-size: 80pt;
	font-weight: 900;
	color: white;
	margin:0;
}

.navigation {
	background: lightblue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 18pt;
	padding: 3px 20px;
}

.welcome {
	 justify-content: flex-end;
}

a {
	text-decoration: none;
	padding: 5px;
	font-size: 16pt;
}
a:link {color:black;}    /* unvisited link */
a:visited {color:black;} /* visited link */
a:hover {text-decoration: underline;}   /* mouse over link */

ul {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 5px;
}

li {
	overflow-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
	font-size: 16pt;
	height: 200px;
	width: 160px;
	overflow: hidden;
	margin-left: 10px;
}

.logRegBox {
	margin-left: 50px;
}

.home {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	word-break: break-word;
	width: 50%;
}

.home a {
	color: blue;
} 

.userExpIndexBox {
	display:flex;
	flex-direction: column;
	align-content: space-between;
	flex-wrap: wrap;
	width: 97%;
}

.indexTitle {
	background-color: #E6E7F3;
	width:500px;
	border-top-left-radius: 10px;
	border-top-right-radius: 20px;
	text-align: center;
	margin: 20px 0 0 10px;
	padding-top:5px;
}

.experiencesList {
	background: #E6E7F3;
	min-height: 45vh;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: space-between;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 10px;
	width: 97%;
}

.usersList {
	background: #E6E7F3;
	min-height: 50vh;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: space-around;
	align-items: flex-start;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 10px;
	width: 97%;
}



.usersLi {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
	font-size: 16pt;
	height: 40px;
	width: 160px;
}

.usersUl {
	display: flex;
	flex-direction: column;
}

.showContainer {
	border: 1px solid lightblue;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: space-between;
	text-align: center;
	word-break: break-word;
	margin:10px;
	max-height: 600px;
	width: 80%;
}

img {
	max-height:100%;
	max-width:100%;
}

.img-box{
	border: 1px solid lightblue;
	background-color: lightblue;
	max-height: 600px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.post-details-showpage {
	max-height: 600px;
	width: 50%;
}

.details-text {
	height: 100%;
	padding:0 5px;
}


.map-box {
	display: flex;
	align-self: center;
	height: 200px;
	width: 80%;
}

#map-showpage {
	height: 100%;
	width: 100%;
}


.edit-delete-link-showpage {
	text-align: center;
	padding: 10px;
}

.alert {
	color: red;
}

.alert-location {
	background-image: linear-gradient(
		to right, 
		rgba(265,265,265,0.9),
		rgba(265,265,265,0.6)),
	url(https://i.imgur.com/oaJRqk5.png?1);
	background-size: cover;
	background-position: center;
	border: 1px solid lightblue;
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: flex-end;
	height: 100px;
	width: 80%;
}


.newExpContainer {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-content: space-between;
	width: 50%;
}

.newExpContainer form {
	align-self: center;
	align-content: space-around;
	font-size: 16pt;
}

.editExpContainer {
	align-self: center;
	align-content: space-around;
	font-size: 16pt;
	text-align: center;
}

#map {
	margin: 10px;
	height: 400px;
	width: 90%;
}

input {
	border-radius: 10px;
	font-size: 14pt;
}

textarea {
	height: 150px;
	width: 100%;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 14pt;
}



footer {
	width: 100%;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
}

